@import url(impress.js/css/impress-demo.css);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);

body {
	font-family: 'Source Sans Pro', 'Noto Sans', sans-serif;
	font-smoothing: antialias;
	color: rgba(255, 255, 255, 0.9);
	background: rgb(0, 42, 92);
}

div, p, span {
	font-family: 'Source Sans Pro', 'Noto Sans', sans-serif;
}

.step:not(.present) {
	opacity: 0;
}

.idea, .risks, .pipeline, .survey, .profits, .showcase, .questions, .advancement{
	text-align: center;
	font-size: 5em;
}

.start:not(.present) {
	opacity: 0;
}

.start {
	font-family: inherit;
	font-weight: 200;
	text-shadow: rgba(0,0,0,0.4) 5px 5px 0px;
	background: url(images/home_screen.png) center no-repeat;
	background-size: cover;
	width: 1700px;
	height: 1200px;
}

.start p {
	margin-left: 12%;
	margin-top: 15%;
	font-weight: 400;
	font-size: 2.2em;
	width: 50%;
}

.start p span {
	display: block;
	font-size: .6em;
	font-weight: 200;
	transition: left 1s;
	-webkit-transition: left 1s;
}

.roles {
	text-align: center;
	font-weight: 200;
}

.roles div, .roles p {
	font-weight: 800;
}

.roles span {

}

.idea:not(.present) {
	opacity: 0;
}

.idea {
	background: white;
	color: rgb(0, 42, 92);
	text-shadow: 1px 1px 0px grey;
	width: 1700px;
	height: 1000px;
}

.idea p {
	position: relative;
	top: 10%;
}

.idea img {
	position: absolute;
	display: block;
	width: 200px;
	transition: all 6s;
	-webkit-transition: all 6s;
	transition-delay: 2s;
	-webkit-transition-delay: 2s;
}

.idea img:first-of-type {
	left: 15%;
	top: 20%;
}

.idea img:nth-of-type(2) {
	left: 37%;
	width: 30%;
	top: 30%;
	opacity: 0;
	transition-delay: 4s;
	-webkit-transition-delay: 4s;
}

.idea img:nth-of-type(3) {
	left: 70%;
	top: 20%;
}

.idea img:nth-of-type(4) {
	left: 40%;
	top: 60%;
}

.idea.present img:not(:nth-of-type(2)) {
	left: 40%;
	top: 30%;
	opacity: 0;
}

.idea.present img:nth-of-type(2) {
	opacity: 1;
}

.risks {
}

.risks:not(.present) {
	opacity: 0;
}

.risks img:first-of-type {
	position: absolute;
	left: 23%;
	width: 60%;
	transform: rotateY(90deg);
	-ms-transform: rotateY(90deg);
	-webkit-transform: rotateY(90deg);
	opacity: 0;
	transition: -webkit-transform 2s, opacity 2s;
	-webkit-transition: -webkit-transform 2s, opacity 2s;
	transition-delay: 5s;
	-webkit-transition-delay: 5s;
}

.risks.present img[src*=cancel] {
	opacity: 1;
	transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}

.risks img:not(:first-of-type) {
	width: 350px;
}

.pipeline:not(.present) {
	opacity: 0;
}

.pipeline {
}

.pipeline img {
	width: 250px;
	vertical-align: middle;
}

.pipeline img[src*=bitbucket] {
	background-color: white;
}

.pipeline img[src*=maven] {
	background-color: white;
}

.profits:not(.present) {
	opacity: 0;
}

.profits div.money {
	background: url(./images/money.png);
	background-size: cover;
	width: 100%;
	height: 500px;
	animation: fall 5s linear infinite;
	-webkit-animation: fall 5s linear infinite;
}

@keyframes fall {
	from{background-position: 0 0;}
	to{background-position: 0 820px;}
}

@-webkit-keyframes fall {
	from{background-position: 0 0;}
	to{background-position: 0 820px;}
}

.survey:not(.present) {
	opacity: 0;
}

.survey img{
	width: 98%;
	margin: auto;
}

.showcase:not(.present) {
	opacity: 0;
}

.questions:not(.present) {
	opacity: 0;
}

.questions img {
	width: 500px;
}

.showcase img {
	width: 300px;
}

.mylsus img {
	background-color: white;
}